<ion-view style="" title="{{Session.observationMode}}">
    	<ion-nav-title>
		<div width=100% class="dashboardHeader" ng-controller="timerControl">
            <div class="row">
                <div class="col text-right">
                    {{Session.observationMode}} 
                </div>
                <div class="col text-left">                
                    <span style="color:{{color}}">
                        {{value}}
                    </span>
                </div>
            </div>
		</div>
	</ion-nav-title>
	<div style="">
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="right">
                <a class="button icon-left ion-log-out button-small button-assertive" ng-click = "showConfirm()">&nbsp;End Session</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-content class="has-header container" overflow-scroll="true" padding="true">
        <div class="spacer spacer-10"></div>
        <div class="center">
            <img src="img/behavior_heading.png" height="auto" width="100%" class="rcorners">
        </div>
        <ion-list >
            <ion-item class="item-divider list-head">Bears in the Session - {{BearList.add.length}}</ion-item>
            <div ng-repeat="(index, Object) in BearList.add">    
            <ion-item ng-click="changeBear({{index}})" ui-sref="tab.bearInfo">{{Object.name}}</ion-item>
            </div>
        </ion-list>
        <div class="spacer spacer-20"></div>
        
        <a class="button button-balanced icon ion-plus button-block" ui-sref="tab.addNewBear">&nbsp;Add Bear</a>
    </ion-content>
</ion-view>
