<ion-view style="" title="{{Bear.name}}" can-swipe-back="false" >
    	<ion-nav-title>
		<div width=100% class="dashboardHeader" ng-controller="timerControl">
			<div class="row">
                <div class="col text-right">
                    {{Bear.name}} 
                </div>
                <div class="col text-left">                
                    <span style="color:{{color}}">
                        {{value}}
                    </span>
                </div>
            </div>
		</div>
	</ion-nav-title>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
            <ion-nav-buttons side="right">
                <a class="button icon-left ion-log-out button-small button-assertive" ng-click = "showConfirm()">&nbsp;End Session</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        
	<ion-content can-swipe-back="false" class="has-header container" overflow-scroll="true" padding="true" delegate-handle="mainScroll">
        <div class="spacer spacer-10"></div>
        <div class="row">
            <div class="col col-33">
            </div>
            <div class="col col-33 text-center">
                <h2>Bear Logs</h2>
            </div>
            <div class="col col-33 text-right">
                <a ng-click="scrollDown();"><i class="ion-help-circled help"></i></a>
            </div>
        </div>

        <ion-list style="">
            <ion-item style="" class="item-divider list-head">Description</ion-item>
            
        <ion-item style="" class="item-text-wrap">
        <div class = "row" style="flex-wrap: wrap;">
            <div class = "col">
                <div class="item-text-wrap">
                    <strong>Bear Name:</strong> {{Bear.name}} <br>
                    <strong>Observation Quality:</strong> {{ Bear.accuracy }} <br>
                    <strong>Visual Equipment Used:</strong> {{ Bear.vAid }} <br>
                    <strong>Zone:</strong> {{Bear.zone}} <br>
                    <strong>Bear Size:</strong> {{Bear.size}} <br>
                    <strong>Bear Species:</strong> {{Bear.species}} <br>
                    <strong>Bear gender:</strong> {{Bear.gender}} <br>
                    <strong>Bear Age:</strong> {{Bear.age}} <br>
                </div>
            </div>
            <div class = "col">
                <div class="item-text-wrap">
                    <strong>Unique Markings:</strong> {{Bear.markDescription}} <br>
                    <strong>Bear Fur Colour:</strong> {{Bear.furColour}} <br>
                    <strong>Bear Fur Condition:</strong> {{Bear.furCondition}} <br>
                    <strong>Bear Fur Colour Variation:</strong> {{Bear.furCVariation}} <br>
                    <strong>Bear Cubs:</strong> {{Bear.cubs}} <br>
                    <strong>Bear Cubs Age:</strong> {{Bear.cubAge}} <br>
                    <strong>Bear Comment:</strong> {{Bear.comment}} <br>
                </div>
            </div>
        </div>
        </ion-item>
        <ion-checkbox ng-model="Bear.inSight" ng-change="sightChange('{{Bear.inSight}}')">Is bear in sight? (uncheck if bear is out of sight)</ion-checkbox>
        <div  ng-hide="Bear.inSight">
        <div ng-show="{{Bear.isFocal}}">
        <div class="error-container">
            <div class="error">
                <i class="ion-alert-circled"></i>
                All the ongoing behaviours are turned off because bear is out of sight.<br>
                Make sure to check above button before logging more behaviours.
            </div>
            <div class="spacer spacer-10"></div>
        </div>
        </div>
        </div>
        <button class="button button-positive  button-block icon ion-edit" ui-sref="tab.changeSpecs" >&nbsp; Modify Bear Specs</button>
        </ion-list>
    <div ng-show="{{Bear.isFocal}}">
        <div style="width: 283px; height: 30xpx;" class="spacer"></div>
        <h3 style="" class="center">Behaviour </a></h3>
            <div style="width: 283px; height: 8px;" class="spacer"></div>
            <ion-item style="" class="item-text-wrap">Ongoing Behaviour
                <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <div>
                        <div ng-repeat="(index, Object) in Bear.behaviour" class="item item-button-right">
                            {{Object.category}} - {{Object.description}} - {{Object.time.toLocaleTimeString()}}
                            <a class="button button-icon icon ion-close-circled" ng-click="removeBehaviour({{Object.index}}, '{{Object.category}}', '{{Object.description}}','{{Object.time}}')"></a>
                        </div>
                        <div ng-show="Bear.isFishing" ng-repeat="(index, Object) in Bear.fishing | limitTo:1:Bear.fishing.length - 1"  class="item item-button-right">
                            Feeding or Foraging - Fishing - {{Object.method}} - {{Object.suboption}} - {{Object.tally}} - {{Object.time.toLocaleTimeString()}}
                            <a class="button button-icon icon ion-close-circled" ng-click="onFishing()"></a>
                        </div>
                    </div>
        	</ion-item>


            <div style="width: 283px; height: 30px;" class="spacer"></div>
            
            
            <ion-checkbox ng-model="behaviournAV.checked">Alert/Vigilance</ion-checkbox>
            <div ng-show="behaviournAV.checked">
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in alert">
                        
                        <button style="margin-top: 15px;" class="button button-assertive" ng-click="addBehaviour('Alert/Vigilance', '{{behaviour}}')">{{ behaviour }}</button>
                        
                    </lable>
                </ion-item>
                <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>
            
            <ion-checkbox ng-model="behaviourHabituation.checked">Habituation Level
            </ion-checkbox>
            <div ng-show="behaviourHabituation.checked">
                <ion-item style="" class="item-text-wrap">Select Habituation Level
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in habituationLevel">
                        <button class="button button-royal" ng-click="addBehaviour('Habituation', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>
                <div style="width: 283px; height: 30px;" class="spacer"></div>        
            </div>

            <ion-checkbox ng-model="behaviourFeeding.checked">Feeding/Foraging</ion-checkbox>
            
            <div ng-show="behaviourFeeding.checked">
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in feeding">
                        <button class="button button-balanced"  ng-click="addBehaviour('Feeding or Foraging', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                    <lable>
                        <button class="button button-balanced" ng-click="onFishing()">Fishing</button>
                    </lable>
                    
                </ion-item>
                <ion-item style="" class="item-text-wrap" ng-show="Bear.isFishing">Fishing Sub categories<br>
                    <label style="" class="item item-select">
                        <span class="input-label">Fishing Techniques</span>
                        <select ng-model="Bear.fishingMethod" ng-change="updateFish(Bear.fishingMethod, Bear.fishingSuboption, Bear.tally)">
                            <option>Scavenging</option>
                            <option>Weir Scavenging</option>
                            <option>Pick Water</option>
                            <option>Snorkeling</option>
                            <option>Fishing from log</option>
                            <option>Pin</option>
                            <option>Plunge</option>
                            <option>Lope</option>
                        </select>
                    </label>
                    
                    <label style="" class="item item-select">
                    <span class="input-label">Foraging details</span>
                    <select ng-model="Bear.fishingSuboption"  ng-change="updateFish(Bear.fishingMethod, Bear.fishingSuboption, Bear.tally)" >
                        <option>Caught Alive</option>
                        <option>Caught Dead</option>
                        <option>Consuming</option>
                        <option>Carrying</option>
                        <option>Caching</option>
                        </select>
                    </label>
            <div class="item item-input-inset">
                        
                    <span class="input-label">Number of fish caught - {{Bear.tally}}</span>
                        <a class="button button-icon icon ion-plus button-outline" ng-click="addTally(Bear.fishingMethod, Bear.fishingSuboption, Bear.tally)"></a>
                        <a class="button button-icon icon ion-minus button-outline" ng-click="removeTally(Bear.fishingMethod, Bear.fishingSuboption, Bear.tally)"></a>
                    </div>
                    
                    
                </ion-item>

                <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>


            <ion-checkbox ng-model="behaviourNI.checked">Non-Interactive</ion-checkbox>
            <div ng-show="behaviourNI.checked">
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in nonInteractive">
                        <button class="button button-calm" ng-click="addBehaviour('Non-Interactive', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>
                <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>

            <ion-checkbox ng-model="behaviournBBI.checked">Bear-Bear Interactive</ion-checkbox>        
            <div ng-show="behaviournBBI.checked">
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in bBInteraction">
                        <button class="button button-energized" ng-click="addBehaviour('Bear-Bear Interactive', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>
                <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>


            <ion-checkbox ng-model="behaviournBHI.checked">Bear-human Interaction</ion-checkbox>        
            <div ng-show="behaviournBHI.checked">    
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in bHInteraction">
                        <button class="button button-royal " ng-click="addBehaviour('Bear-human Interaction', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>
                <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>
            <ion-checkbox ng-model="behaviournHBI.checked">Human-bear Interaction</ion-checkbox>        
            <div ng-show="behaviournHBI.checked">
                <ion-item style="" class="item-text-wrap">Description
                    <div style="width: 283px; height: 10px;" class="spacer"></div>
                    <lable ng-repeat="behaviour in hBinteraction">
                        <button class="button button-positive" ng-click="addBehaviour('Human-bear Interaction', '{{behaviour}}')">{{ behaviour }}</button>
                    </lable>
                </ion-item>
                    <div style="width: 283px; height: 30px;" class="spacer"></div>
            </div>


            <ion-checkbox ng-model="behaviournOther.checked">Other</ion-checkbox>
            <div ng-show="behaviournOther.checked">
            
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">
                    <span class="input-label">Describe:</span>
                    <input type="text" id="other" ng-model="other"> </textarea>
                </label>
                <button class="button button-balanced icon ion-ios-upload-outline" ng-click="addBehaviour('Other', other)">&nbsp; Add</button>
            </div>
            
            </div>

            <!-- Help section-->
            <div ng-model="showHelp" ng-show="showHelp" class="card">
                <div class="container">
                    <div class="row border-bottom">
                        <div class="col col-33">
                        </div>
                        <div class="col col-33 col-bottom text-center">
                            <h3>Help Topics</h3> 
                        </div>
                        <div class="col col-33 col-center text-right">
                            <a class="button button-icon icon ion-close-circled" ng-click="hideHelp()"></a>
                        </div>
                    </div>
                    <div class="spacer spacer-10"></div>
                    
                    
                    <div class="row item-divider expando-pane">
                        <div class="col col-center"><h4>Alert/Vigilance</h4></div>
                        <div class="col col-center text-right">
                            <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!AVHelp, 'button button-small button-icon icon ion-ios-minus-outline':AVHelp}" ng-click="AVHelp=!AVHelp"></a>
                        </div>
                    </div>
                    <div ng-model="bHIHelp" ng-show="AVHelp" class="center" style="text-align: left;">
                        <br>
                        <strong><u>Unknown</u></strong> - Unable to determine if the other has been noticed.<br>
                        <strong><u>Unaware</u></strong> - It seems unlikely that the other has been noticed.<br>
                        <strong><u>Aware</u></strong> - Appears to have noticed the other and is attentive.<br>
                        <strong><u>Relaxed</u></strong> - Appears to have noticed the other and seems unaffected and calm.<br>
                        <strong><u>Disinterested</u></strong> - Appears to have noticed the other but seems to be ignoring the other.<br>
                        <strong><u>Cautious</u></strong> - Appears to have noticed the other and seems vigilant; movements may seem tentative, or bear may retreat or otherwise attempt to avoid interaction.<br>
                        <strong><u>Bold/pushy</u></strong> - Appears to be testing boundaries, causing other to retreat or behave with caution.<br>
                        <strong><u>Aggressive</u></strong> - charging other with/or without physical contact.<br>
                        <br>
                    </div>
                    
                    
                    <div class="row item-divider expando-pane">
                            <div class="col col-center"><h4>Habituation Level</h4></div>
                            <div class="col col-center text-right">
                                <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!habituationHelp, 'button button-small button-icon icon ion-ios-minus-outline':habituationHelp}" ng-click="habituationHelp=!habituationHelp"></a>
                            </div>
                        </div>
                        <div ng-model="habituationHelp" ng-show="habituationHelp" class="center" style="text-align: left;">
                                <br>
                                <strong><u>Habituated</u></strong> - Tolerance of people at &lt; 50 m with no noticeable change in behaviour <br>
                                <strong><u>Non-habituated</u></strong> - Normally moves away when people approach and/or displays agitated behaviours.<br>
                                <strong><u>Subadult</u></strong> - May also sub-classify habituation level of subadults.<br>
                                <br>
                        </div>
                        
                        <div class="row item-divider expando-pane">
                            <div class="col col-center"><h4>Feeding/Foraging </h4></div>
                            <div class="col col-center text-right">
                                <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!feedingHelp, 'button button-small button-icon icon ion-ios-minus-outline':feedingHelp}" ng-click="feedingHelp=!feedingHelp"></a>
                            </div>
                        </div>
                        <div ng-model="feedingHelp" ng-show="feedingHelp" class="center" style="text-align: left;">
                            <br>
                            <strong><u>Pursuit for food</u></strong> - Actively seeking out food.  Could be moving for purpose of feeding.<br>
                            <strong><u>Green vegetation</u></strong> - Feeding on herbaceous material (i.e., sedges, clovers, grasses, cowparsnip, etc.).  Not to be confused with scavenging carcasses.<br>
                            <strong><u>Berries</u></strong> -  Feeding on berries, i.e., blueberries, rosehips, devil's club, thimble berries, etc.<br>
                            <strong><u>Fishing</u></strong> -  Capture and consumption of live, vigorous fish.<br>
                            <strong><u>Human food</u></strong> - Consumption of human food items, excluding angler's fish.<br><br>
                        
                        </div>
                        
                        <div class="row item-divider expando-pane">
                            <div class="col col-center"><h4>Non-Interactive</h4></div>
                            <div class="col col-center text-right">
                                <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!nIHelp, 'button button-small button-icon icon ion-ios-minus-outline':nIHelp}" ng-click="nIHelp=!nIHelp"></a>
                            </div>
                        </div>
                        <div ng-model="nIHelp" ng-show="nIHelp" class="center" style="text-align: left;">
                            <br>
                            <strong><u>Loafing/Resting</u></strong> - Not moving, non-interactive, may be sitting or standing<br>
                            <strong><u>Sleeping</u></strong> - Bear sleeping<br>
                            <strong><u>Walking</u></strong> - Bear walking but not pursuing food, without interest<br>
                            <strong><u>Running</u></strong> - Running to or from no apparent stimulus.<br>
                            <br>
                        </div>
                        
                        <div class="row item-divider expando-pane">
                            <div class="col col-center"><h4>Bear-Bear Interaction</h4></div>
                            <div class="col col-center text-right">
                                <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!bBiHelp, 'button button-small button-icon icon ion-ios-minus-outline':bBiHelp}" ng-click="bBiHelp=!bBiHelp"></a>
                            </div>
                        </div>
                        <div ng-model="bBiHelp" ng-show="bBiHelp" class="center" style="text-align: left;">
                            <br>
                            <strong><u>Alert/Vigilance</u></strong> - Interaction between individuals is evident but behaviour uncertain. Looking and/or sniffing intently towards another bear.<br>
                            <strong><u>Playing</u></strong> - Non-agonistic amicable behaviour, wrestling, chasing, etc.<br>
                            <strong><u>Fighting</u></strong> - Agonistic interaction with or without vocalization.<br>
                            <strong><u>Defense</u></strong> - Active or passive deferral to aggressor, retreat orstanding ground.<br>
                            <br>
                        </div>
                        
                        <div class="row item-divider expando-pane">
                            <div class="col col-center"><h4>Bear-Human Interaction</h4></div>
                            <div class="col col-center text-right">
                                <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!bHIHelp, 'button button-small button-icon icon ion-ios-minus-outline':bHIHelp}" ng-click="bHIHelp=!bHIHelp"></a>
                            </div>
                        </div>
                        <div ng-model="bHIHelp" ng-show="bHIHelp" class="center" style="text-align: left;">
                        <br>
                        <strong><u>Bear Response:</u></strong><br><br>
                        <strong><u>Retreat</u></strong> - Actively increase distance away from human or vehicle<br>
                        <strong><u>Bear Approach</u></strong> - Bear approaches human, record closest distance.<br>
                        <strong><u>Aggression</u></strong> - Yelling, hit with sticks, throw rocks, etc.<br>
                        <br>
                        </div>
                        
                        
                        <div class="row item-divider expando-pane">
                            <div class="col col-center"><h4>Human-Bear Interaction</h4></div>
                            <div class="col col-center text-right">
                                <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!hBIHelp, 'button button-small button-icon icon ion-ios-minus-outline':hBIHelp}" ng-click="hBIHelp=!hBIHelp"></a>
                            </div>
                        </div>
                        <div ng-model="hBIHelp" ng-show="hBIHelp" class="center" style="text-align: left;">
                        <br>
                        <strong><u>Human response:</u></strong><br><br>
                        
                        <strong><u>Retreat</u></strong> - Back away, walk away, run away.<br>
                        <strong><u>Approach</u></strong> bear - Human approaches bear, record closest distance. <strong>Note:<strong> run towards, walk towards.<br>
                        <strong><u>Aggression</u></strong> - Yelling, hit with sticks, throw rocks, etc.<br>
                        <strong><u>Enticing</u></strong> - Make fish whole or entrails obviously available to bears.  Make garbage of human food available to bears.  Try to attract bear(s).<br>
                        <br>
                        </div>
                        
                        
                        <div class="row item-divider expando-pane">
                            <div class="col col-center"><h4>Other</h4></div>
                            <div class="col col-center text-right">
                                <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!otherHelp, 'button button-small button-icon icon ion-ios-minus-outline':otherHelp}" ng-click="otherHelp=!otherHelp"></a>
                            </div>
                        </div>
                        <div ng-model="otherHelp" ng-show="otherHelp" class="center" style="text-align: left;">
                        <br>
                        <strong><u>Other</strong></u> - Behaviour not on above list, e.g., interaction with dogs or other wildlife. <br>
                        <br>
                        </div>
                </div>
                <div class="spacer spacer-20"></div>            
            </div><!--End Help-->
            
            <div class="spacer spacer-40"></div>
            <div class="spacer spacer-40"></div>
        </div>
    </ion-content>
    
</ion-view>
