<ion-view style="" title="Human">
	<ion-nav-title>
		<div width=100% class="dashboardHeader" ng-controller="timerControl">
			<div class="row">
                <div class="col text-right">
                    Human
                </div>
                <div class="col text-left">                
                    <span style="color:{{color}}">
                        {{value}}
                    </span>
                </div>
            </div>
		</div>
	</ion-nav-title>
    <div style="">
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="right">
                <a class="button icon-left ion-log-out button-small button-assertive" ng-click = "showConfirm()">&nbsp;End Session</a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right" ></ion-nav-view>
    </div>
    <ion-content class="has-header container" overflow-scroll="true" padding="true" delegate-handle="humanScroll">
        <form class="list">
            <div class="spacer spacer-10"></div>
            <div class="row">
                <div class="col col-33">
                </div>
                <div class="col col-33 text-center">
                    <h2>Humans in Area</h2>
                </div>
                <div class="col col-33 text-right">
                    <a ng-click="scrollDown()"><i class="ion-help-circled help"></i></a>
                </div>
            </div>            
            
            <div class="spacer spacer-20"></div>
            <div class="spacer spacer-20"></div>
            <div class="row item-divider expando-pane">
                <div class="col col-center"><h4>Human-Zone Matrix</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showZoneMatrix, 'button button-small button-icon icon ion-ios-minus-outline':showZoneMatrix}" ng-click="showMatrix()"></a>
                </div>
            </div>
            <div ng-model="showZoneMatrix" ng-show="showZoneMatrix">
                <div class="spacer spacer-10"></div>
                <h3 class="center">Press the update button after each entry</h3>
                <div class="row flexi-div center">
                    <div ng-class="{'col col-20': (zone.zone != '6' || Session.zoneSchema != 'Estuary'), 'col': (zone.zone == '6' && Session.zoneSchema == 'Estuary')}" ng-repeat="zone in Human.zoneMatrix">
                        <label class="item item-input">
                            <span class="input-label">{{zone.zone}}: </span>
                            <input placeholder="# Humans" type="number" ng-model="zone.humans">
                        </label>
                    </div>
                </div>
                <div class="center">
                    <button class="button button-balanced icon ion-ios-upload-outline" ng-click="humanSave()">&nbsp; Update</button>
                </div>
            </div><!--end zoneMatrix-->
            
            <div class="spacer spacer-20"></div>
            <div class="row item-divider expando-pane">
                <div class="col col-center"><h4>Zone Mapping</h4></div>
                <div class="col col-center text-right">
                    <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showZoneSchema, 'button button-small button-icon icon ion-ios-minus-outline':showZoneSchema}" ng-click="showZoneSchema=!showZoneSchema"></a>
                </div>
            </div>
            <div ng-model="showZoneSchema" ng-show="showZoneSchema" class="center" style="text-align: center;">
                <img class="padding-top-20" ng-src="{{zoneImgURI}}">
            </div>            
            
            <div class="spacer spacer-20"></div>
            <ion-item class="item-divider list-head">Human Activities Occurring</ion-item>
            <ion-toggle ng-model="motorizedHuman" toggle-class="toggle-balanced">Motorized</ion-toggle>
            <div ng-show="motorizedHuman">
                <!--show active motorized humans with remove option-->
                <ion-item ng-show="activeVehicles.length != 0" class="item-divider">Active Motorized Human</ion-item>
                <div>
                    <div ng-repeat="moto in activeVehicles" class="item item-button-right">
                        {{moto.time + " " + moto.name + " " + moto.desc}}
                        <a class="button button-icon icon ion-close-circled" ng-click="recordMoto(moto, 'departed', '')"></a>
                    </div>
                    <div class="spacer spacer-20"></div>
                </div>
                
                <!--show Motorized selection options-->
                <ion-item class="item-divider">Motorized Human Type</ion-item>
                
                <!--aircraft-->
                <ion-checkbox ng-model="aircraft.checked">Aircraft</ion-checkbox>
                <div ng-show="aircraft.checked" class="row padding">
                    <!--motorized input options-->
                    <div class="col">
                        <label class="item item-input">
                            <span class="input-label">Description:</span>
                            <input ng-model="aircraft.txt" placeholder="e.g. helicopter, circling, etc." type="text">
                        </label>
                    </div>
                    <div class="col">                   
                        <label ng-repeat="motoAction in motoActions">                                
                            <button 
                            ng-class="{'button button-balanced': motoAction == 'Passing through', 'button button-assertive': motoAction == 'Staying in area'}" 
                            ng-click="recordMoto('Aircraft', motoAction, aircraft.txt); aircraft.checked = !aircraft.checked">{{ motoAction }}</button>
                        </label>
                    </div>
                    <div class="spacer spacer-10"></div>
                </div>
                <!--end aircraft-->
                
                <!--atv-->
                <ion-checkbox ng-model="atv.checked">ATV</ion-checkbox>
                <div ng-show="atv.checked" class="row padding">
                    <!--motorized input options-->
                    <div class="col">
                        <label class="item item-input">
                            <span class="input-label">Description:</span>
                            <input ng-model="atv.txt" placeholder="e.g. Tour, private, etc." type="text">
                        </label>
                    </div>
                    <div class="col">                   
                        <label ng-repeat="motoAction in motoActions">                                
                            <button 
                            ng-class="{'button button-balanced': motoAction == 'Passing through', 'button button-assertive': motoAction == 'Staying in area'}" 
                            ng-click="recordMoto('ATV', motoAction, atv.txt); atv.checked = !atv.checked">{{ motoAction }}</button>
                        </label>
                    </div>
                    <div class="spacer spacer-10"></div>           
                </div>
                <!--end ATV-->
                
                <!--motoBoat-->
                <ion-checkbox ng-model="motoBoat.checked">Motorized Boat</ion-checkbox>
                <div ng-show="motoBoat.checked" class="row padding">
                    <!--motorized input options-->
                    <div class="col">
                        <label class="item item-input">
                            <span class="input-label">Description:</span>
                            <input ng-model="motoBoat.txt" placeholder="e.g. Commercial, private, jet-ski, etc." type="text">
                        </label>
                    </div>
                    <div class="col">                   
                        <label ng-repeat="motoAction in motoActions">                                
                            <button 
                            ng-class="{'button button-balanced': motoAction == 'Passing through', 'button button-assertive': motoAction == 'Staying in area'}" 
                            ng-click="recordMoto('Boat', motoAction, motoBoat.txt); motoBoat.checked = !motoBoat.checked">{{ motoAction }}</button>
                        </label>
                    </div>
                    <div class="spacer spacer-10"></div>
                </div>
                <!--end motoBoat-->
                
                <!--vehicle-->
                <ion-checkbox ng-model="vehicle.checked">Vehicle</ion-checkbox>
                <div ng-show="vehicle.checked" class="row padding">
                    <!--motorized input options-->
                    <div class="col">
                        <label class="item item-input">
                            <span class="input-label">Description:</span>
                            <input ng-model="vehicle.txt" placeholder="e.g. Car, jeep, parked, etc." type="text">
                        </label>
                    </div>
                    <div class="col">                   
                        <label ng-repeat="motoAction in motoActions">                                
                            <button 
                            ng-class="{'button button-balanced': motoAction == 'Passing through', 'button button-assertive': motoAction == 'Staying in area'}" 
                            ng-click="recordMoto('Vehicle', motoAction, vehicle.txt); vehicle.checked = !vehicle.checked">{{ motoAction }}</button>
                        </label>
                    </div>
                    <div class="spacer spacer-10"></div>
                </div>
                <!--end vehicle-->
            </div>
            
            <!--non-motorized-->
            <ion-toggle ng-model="nonMotorizedHuman" toggle-class="toggle-balanced">Non-Motorized</ion-toggle>
            <div ng-show="nonMotorizedHuman">
                <div class="row flexi-div">
                    <div class="col col-33" ng-repeat="class in Human.nonMoto">
                        <ion-checkbox ng-model="class.checked" ng-change="nonMotoSave(class.type)">{{class.type}}</ion-checkbox>                
                    </div>
                </div>

                <div class="item item-input-inset" ng-show="Human.nonMoto[10].checked">
                    <label class="item item-input-wrapper">     
                        <input placeholder="Describe Other" type="text" ng-model="Human.nonMotoOther">
                    </label>
                    <button class="button button-balanced icon ion-ios-upload-outline" ng-click="humanSave()">&nbsp; Update</button>
                </div>
            </div>
                        
            <div class="spacer spacer-20"></div>
            <ion-item class="item-divider list-head">Human Behaviour (worst in group)</ion-item>
            <label class="item item-select">
                <span class="input-label">Behaviour</span>
                <select ng-model="Human.behavior" ng-change="humanSave()">
                    <option selected disabled></option>
                    <option>None</option>
                    <option>Quietly observing, minimal movement</option>
                    <option>Loud disturbance, minimal movement</option>
                    <option>Quietly observing, excessive movement</option>
                    <option>Loud disturbance, excessive movement</option>
                    <option>Approach bear(s) intentionally</option>
                    <option>Move away from bear intentionally</option>
                    <option>Other</option>
                </select>
            </label>
            
            <div class="spacer spacer-20"></div>
            <div class="item item-input-inset">
                <label class="item item-input-wrapper">     
                    <span class="input-label">Comment:</span>
                    <input type="text" placeholder="activities/interactions" ng-model="Human.comment"> </textarea>
                </label>
                <button class="button button-balanced icon ion-ios-upload-outline" ng-click="humanSave()">&nbsp; Update</button>
            </div>
        </form>

        <div class="spacer spacer-20"></div>

            <!-- Help section-->
            <div ng-model="showHelp" ng-show="showHelp" class="card">
                <div class="container">
                    <div class="row border-bottom">
                        <div class="col col-33">
                        </div>
                        <div class="col col-33 col-bottom text-center">
                            <h3>Help Topics</h3> 
                        </div>
                        <div class="col col-33 col-center text-right">
                            <a class="button button-icon icon ion-close-circled" ng-click="hideHelp()"></a>
                        </div>
                    </div>
                    <div class="spacer spacer-10"></div>
                    <div class="row item-divider expando-pane">
                        <div class="col col-center"><h4>General</h4></div>
                        <div class="col col-center text-right">
                            <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!genHelp, 'button button-small button-icon icon ion-ios-minus-outline':genHelp}" ng-click="genHelp=!genHelp"></a>
                        </div>
                    </div>
                    <div ng-model="genHelp" ng-show="genHelp" class="container">
                        <div class="spacer spacer-10"></div>
                        <p>Any motorized vehicle (boat, vehicle, etc.) passing through is logged, but can’t be seen on the screen.</p>
                        <p>Any motorized vehicle (boat, vehicle, etc.) that is staying in the area, goes to the list on the screen. More than one item of each type can be logged. They will be given unique numbers as they are entered (boat 1, boat 2, etc.). When a motorized vehicle leaves, press the X to indicate it has gone. It will be removed from the list.</p>
                        <p>When a comment is updated it is time stamped and logged, but disappears from the screen.</p>
                        <div class="spacer spacer-10"></div>
                    </div>
                    <div class="row item-divider expando-pane">
                        <div class="col col-center"><h4>Human-Zone Matrix</h4></div>
                        <div class="col col-center text-right">
                            <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!matrixHelp, 'button button-small button-icon icon ion-ios-minus-outline':matrixHelp}" ng-click="matrixHelp=!matrixHelp"></a>
                        </div>
                    </div>
                    <div ng-model="matrixHelp" ng-show="matrixHelp" class="container">
                        <div class="spacer spacer-10"></div>
                        <p>Any motorized vehicle (boat, vehicle, etc.) passing through is logged, but can’t be seen on the screen.</p>
                        <div class="spacer spacer-10"></div>
                    </div>                     
                </div>
                <div class="spacer spacer-20"></div>            
            </div><!--End Help-->
            <div class="spacer spacer-40"></div>
      </ion-content>
</ion-view>
