<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Human-Zone Matrix</h1>
		<div class="buttons">
			<a class="button button-icon icon ion-close-circled" ng-click="closeModal()"></a>
		</div>
	</ion-header-bar>
	<ion-content>
		<div style="height: 30px;" class="spacer"></div>  
		<div class="row">
			<div class="col">
				<p>Please initially populate the matirx with the number of humans in each zone, then update as needed.</p>
			</div>
	   	</div>
	   	<a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!showZoneSchema, 'button button-small button-icon icon ion-ios-minus-outline':showZoneSchema}" ng-click="showZoneSchema=!showZoneSchema"> &nbsp;Show/hide Zone Mapping</a>
        <div ng-model="showZoneSchema" ng-show="showZoneSchema" class="center">
            <img style="padding-top: 10px;" ng-src="{{zoneImgURI}}">
        </div> 
	   	<div class="row" style="flex-wrap: wrap; padding-top: 10px;">
            <div ng-class="{'col col-20': (zone.zone != '6' || Session.zoneSchema != 'Estuary'), 'col': (zone.zone == '6' && Session.zoneSchema == 'Estuary')}" ng-repeat="zone in Human.zoneMatrix">
                <label style="" class="item item-input">
                    <span class="input-label">{{zone.zone}}: </span>
                    <input placeholder="Humans" type="number" ng-model="zone.humans">
                </label>
            </div>
        </div>
	   	<div class="row">
	   		<div class="col col-bottom text-center">
	   			<button class="button button-balanced" ng-click="matrixSave()">Save</button>
	   			<button class="button button-assertive" ng-click="matrixClear()">Discard</button>
	   		</div>
	   	</div>
	   	<div style="width: 283px; height: 20px;" class="spacer"></div>
	</ion-content>
</ion-modal-view>