<ion-view title="Session Setup">
    <ion-content class="has-header container" overflow-scroll="true" padding="true" delegate-handle="obsScroll">
        
        <div class="spacer spacer-10"></div>
        <div class="row">
            <div class="col col-33">
            </div>
            <div class="col col-33 text-center">
                <h2>Observation Settings</h2>
            </div>
            <div class="col col-33 text-right">
                <a ng-click="scrollDown()"><i class="ion-help-circled help"></i></a>
            </div>
        </div>
        <!--session setup progress-->
        <div class="breadcrumb center">            
            <i class="ion-ios-circle-outline"></i>
            <i class="ion-ios-circle-outline"></i>
            <i class="ion-ios-circle-filled"></i>
        </div> 
        <div class="spacer spacer-20"></div>

        <form name="obsForm" novalidate  ng-submit="saveSession(obsForm)" class="list">

    		<label class="list">
                <ion-item class="item-divider list-head" ng-class="{ 'has-errors' : (submitted && obsForm.observationMode.$invalid), 'no-errors' : (submitted && obsForm.observationMode.$valid)}">Mode</ion-item>
                <ion-radio name="observationMode" ng-model="Session.observationMode" value="Focal" ng-required="Session.observationMode == ''">Focal</ion-radio>
                <ion-radio name="observationMode" ng-model="Session.observationMode" value="Scanning" ng-required="Session.observationMode == ''">Scanning</ion-radio>
            </label>
            <div class="error-container" ng-show="submitted && obsForm.observationMode.$error" ng-messages="obsForm.observationMode.$error">
                <div ng-messages-include="error-list.html"></div> 
            </div>
            <div class="spacer spacer-20"></div>
            <label class="list">
                <ion-item class="item-divider list-head" ng-class="{ 'has-errors' : (submitted && obsForm.surveySched.$invalid), 'no-errors' : (submitted && obsForm.surveySched.$valid)}">Survey Schedule</ion-item>
                <ion-radio name="surveySched" ng-model="Session.surveySched" value="Planned" ng-required="Session.surveySched == ''">Planned</ion-radio>
                <ion-radio name="surveySched" ng-model="Session.surveySched" value="Opportunistic" ng-required="Session.surveySched == ''">Opportunistic</ion-radio>
            </label>
            <div class="error-container" ng-show="submitted && obsForm.surveySched.$error" ng-messages="obsForm.surveySched.$error">
                <div ng-messages-include="error-list.html"></div> 
            </div>

            <!--Focal timer info-->
            <div ng-show="Session.observationMode == 'Focal'">
                <div class="spacer spacer-20"></div>
                <ion-item class="item-divider list-head">Session Length</ion-item>
                <div class="item item-input-inset" ng-class="{ 'has-errors' : (submitted && ((Session.hr == undefined && Session.min == undefined) || obsForm.hr.$invalid || obsForm.min.$invalid)), 'no-errors' : (submitted && obsForm.hr.$valid && obsForm.min.$valid && (Session.hr != undefined || Session.min != undefined))}">
                    <label class="item item-input-wrapper">     
                    <span class="input-label">Hours:</span>
                    <input type="number" name="hr" ng-model="Session.hr" max="24">
                    </label>
                    <label class="item item-input-wrapper">     
                    <span class="input-label">Minutes:</span>
                    <input type="number" name="min" ng-model="Session.min" max="59">
                    </label>
                </div>
 
                <div class="error-container" ng-show="submitted && Session.hr == undefined && Session.min == undefined && obsForm.hr.$valid && obsForm.min.$valid">
                    <div class="error">
                        <i class="ion-alert-circled"></i> 
                        Session length is required!
                    </div>
                </div>
                <div class="error-container" ng-show="submitted && obsForm.hr.$invalid">
                    <div class="error">
                        <i class="ion-alert-circled"></i> 
                        Maximum 24 hours - only numbers are accepted!
                    </div>
                </div>
                <div class="error-container" ng-show="submitted && obsForm.min.$invalid">
                    <div class="error">
                        <i class="ion-alert-circled"></i> 
                        Maximum 59 minutes - only numbers are accepted!
                    </div>
                </div>
            </div><!--End Focal timer-->

            <!--Scanning timer info-->
            <div ng-show="Session.observationMode == 'Scanning'">
                <div class="spacer spacer-20"></div>
                <ion-item class="item-divider list-head">Session length</ion-item>
                <div class="item item-input-inset" ng-class="{ 'has-errors' : (submitted && ((Session.hr == undefined && Session.min == undefined) || obsForm.hr.$invalid || obsForm.min.$invalid)), 'no-errors' : (submitted && obsForm.hr.$valid && obsForm.min.$valid && (Session.hr != undefined || Session.min != undefined))}">
                    <label class="item item-input-wrapper">     
                    <span class="input-label">Hours:</span>
                    <input type="number" name="hr" ng-model="Session.hr" max="24">
                    </label>
                    <label class="item item-input-wrapper">     
                    <span class="input-label">Minutes:</span>
                    <input type="number" name="min" ng-model="Session.min" max="59">
                    </label>
                </div>

                <div class="error-container" ng-show="submitted && Session.hr == undefined && Session.min == undefined && obsForm.hr.$valid && obsForm.min.$valid">
                    <div class="error">
                        <i class="ion-alert-circled"></i> 
                        Session length is required!
                    </div>
                </div>
                <div class="error-container" ng-show="submitted && obsForm.hr.$invalid">
                    <div class="error">
                        <i class="ion-alert-circled"></i> 
                        Maximum 24 hours - only numbers are accepted!
                    </div>
                </div>
                <div class="error-container" ng-show="submitted && obsForm.min.$invalid">
                    <div class="error">
                        <i class="ion-alert-circled"></i> 
                        Maximum 59 minutes - only numbers are accepted!
                    </div>
                </div>
                <div class="spacer spacer-10"></div>
                <ion-item class="item-divider list-head">Scanning Timers</ion-item>
                <div class="item item-input-inset" ng-class="{ 'has-errors' : (submitted && (obsForm.resting.$invalid || obsForm.active.$invalid)), 'no-errors' : (submitted && (obsForm.resting.$valid && obsForm.active.$valid))}">
                    <label class="item item-input-wrapper">     
                    <span class="input-label">Active time:</span>
                    <input type="number" name="active" ng-model="Session.active" placeholder="(minutes)" max="60" ng-required="Session.observationMode == 'Scanning'" ng-messages="obsForm.active.$error">
                    </label>
                    <label class="item item-input-wrapper">     
                    <span class="input-label">Resting time:</span>
                    <input type="number" name="resting" ng-model="Session.resting" placeholder="(minutes)" max="60" ng-required="Session.observationMode == 'Scanning'" ng-messages="obsForm.resting.$error">
                    </label>
                </div>

                <div class="row">                
                    <div class="error-container col" ng-show="submitted && obsForm.active.$error" ng-messages="obsForm.active.$error">
                        <div ng-messages-include="error-list.html"></div> 
                    </div>
                    <div class="error-container col" ng-show="submitted && obsForm.resting.$error" ng-messages="obsForm.resting.$error">
                        <div ng-messages-include="error-list.html"></div> 
                    </div>
                </div>
            </div><!--End Scanning timer-->


    		<button class="button button-balanced button-block icon ion-log-in" type="submit">&nbsp; Start Session</button>
            <div ng-show="false">
                <a class="button button-positive  button-block icon-right ion-android-arrow-forward" ui-sref="tab.bear">Skip Validation</a>
            </div>
        </form><!--End obsForm-->

        <div class="spacer spacer-20"></div>
        <!-- Help section-->
        <div ng-model="showHelp" ng-show="showHelp" class="card">
            <div class="container">
                <div class="row border-bottom">
                    <div class="col col-33">
                    </div>
                    <div class="col col-33 col-bottom text-center">
                        <h3>Help Topics</h3> 
                    </div>
                    <div class="col col-33 col-center text-right">
                        <a class="button button-icon icon ion-close-circled" ng-click="hideHelp()"></a>
                    </div>
                </div>
                <div class="spacer spacer-10"></div>
                <div class="row item-divider expando-pane">
                    <div class="col col-center"><h4>General</h4></div>
                    <div class="col col-center text-right">
                        <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!genHelp, 'button button-small button-icon icon ion-ios-minus-outline':genHelp}" ng-click="genHelp=!genHelp"></a>
                    </div>
                </div>
                <div ng-model="genHelp" ng-show="genHelp" class="container">
                    <div class="spacer spacer-10"></div>
                    <p>Fill in the fields below in order to finish setting up your session, then press the Start Session button below to begin.</p>
                    <div class="spacer spacer-10"></div>
                </div>

                <div class="row item-divider expando-pane">
                    <div class="col col-center"><h4>Focal and Scan</h4></div>
                    <div class="col col-center text-right">
                        <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!focalHelp, 'button button-small button-icon icon ion-ios-minus-outline':focalHelp}" ng-click="focalHelp=!focalHelp"></a>
                    </div>
                </div>
                <div ng-model="focalHelp" ng-show="focalHelp" class="container">
                    <div class="spacer spacer-10"></div>
					
					<h3>Both Methods:</h3>
					<p>After the visible (or focal) bear(s) have been entered, push the Human Dashboard button on the bottom of the page to enter the human scan. This should be done whenever something changes or every 15 minutes.</p>
                    
					<h3>Focal Sampling:</h3>
                    <p>Observer focuses on 1 animal and records all behavioural observations during a specified time period – usually 1-4 hours. If the choices are a sow and cubs, always focus on the sow. This sampling technique allows the observer to concentrate on the behaviour of the chosen animal for the duration of the sampling period. Within the focal sampling session it is appropriate to scan at regular intervals and update the location and activities of other bears and humans.</p>
                 
                    <h3>Scan Sampling:</h3>
                    <p>Observer uses predetermined scanning periods alternating with resting periods to record the behaviour of all bears and humans in a more general way than the focal scan. This allows for a snapshot of behaviour at regular intervals. Common sampling intervals are for 2 minutes every 10 or 15 minutes. </p>
                    <div class="spacer spacer-10"></div>
                </div>

                <div class="row item-divider expando-pane">
                    <div class="col col-center"><h4>Timers</h4></div>
                    <div class="col col-center text-right">
                        <a ng-class="{'button button-small button-icon icon ion-ios-plus-outline':!timerlHelp, 'button button-small button-icon icon ion-ios-minus-outline':timerHelp}" ng-click="timerHelp=!timerHelp"></a>
                    </div>
                </div>
                <div ng-model="timerHelp" ng-show="timerHelp" class="container">
                    <div class="spacer spacer-10"></div>                    
                    <h3>Focal:</h3>
                    <p>Set this timer for the scheduled session length. This will not prevent ending the session at an earlier time, but is important when following a study design with statistical parameters.</p>
                 

                    <h3>Scanning:</h3>
                    <p>Set the scheduled overall session length. Set the number of minutes you are planning to scan and the minutes for resting. For instance, if you plan to scan for 3 minutes every 15 minutes you would set the active time to 3 and the resting timer to 12.</p>
                    <div class="spacer spacer-10"></div>
                </div>

            </div>
            <div class="spacer spacer-20"></div>            
        </div><!--End Help-->
        <div class="spacer spacer-40"></div>
    </ion-content>
</ion-view>
<!--generic error messages-->
<script id="error-list.html" type="text/ng-template">  
    <div class="error" ng-message="required">
        <i class="ion-alert-circled"></i> 
        The field above is required!
    </div>
    <div class="error" ng-message="number">
        <i class="ion-alert-circled"></i> 
        Only numeric values accepted!
    </div>
    <div class="error" ng-message="max">
        <i class="ion-alert-circled"></i> 
        Maximum 60 Minutes for resting or active!
    </div>
  </div>
</script> 